#title {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: purple;
}

#body {
    overflow: hidden;
}

#navbarDropdown {
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
    color: orange;
}

#options {
    font-family: 'Permanent Marker', cursive;
    color: darkorange;
    font-size: large;
}
#drop-options {
    font-family: 'Permanent Marker', cursive;
}

#carouselExampleSlidesOnly {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#card {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}

.card {
    background-color: dimgray;
}

.navbar {
    height: 40px;
    margin-bottom: 10px;
}