body {
    overflow: hidden;
}

#body {
    height: 100%;
    width: 100%;
    z-index: -1000;
}

#title {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: purple;
}

#navbarDropdown {
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
    color: orange;
}

#options {
    font-family: 'Permanent Marker', cursive;
    color: darkorange;
    font-size: large;
}
#drop-options {
    font-family: 'Permanent Marker', cursive;
}

#carouselExampleSlidesOnly {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-size: cover;
}

#card {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}

.card {
    background-color: dimgray;
}

.navbar {
    position: absolute;
    z-index: 100;
    height: 80px;
}

#main {
    background-color: #343a40!important;
    position: absolute;
    margin-top: -45%;
    margin-left: 20%;
}

#jumbo {
    font-family: 'Permanent Marker', cursive;
    color: white;
}